// prettier-ignore 忽略prettier对 PX 的自动格式化
// !important 提高权重，使其覆盖 lib-flexible 设置的font-size

@media screen and (min-width: 768px) {
  html {
    /* prettier-ignore */
    font-size: 400px !important;
    --van-cell-vertical-padding: 20px !important;
    // --van-cell-horizontal-padding: 50px !important;
    --van-cell-line-height: 40px !important;
    --van-radio-size: 34px !important;
    // 按钮高度
    --van-button-default-height: 80px !important;
    --van-button-mini-height: 48px !important;
    --van-button-small-height: 60px !important;

    --van-cell-icon-size: 30px !important;
    //错误提示
    --van-field-error-message-font-size: 24px !important;
    //
    --van-font-size-lg: 32px !important;
    --van-font-size-md: 28px !important;
    --van-font-size-sm: 24px !important;
    --van-font-size-xs: 20px !important;
    --van-padding-md: 50px !important;
  }
  #app {
    max-width: 780px;
    margin: 0 auto;
  }
  .van-popup--bottom {
    // max-width: 780px;
    // left: calc(50% - 390px) !important;
  }
}
